
#analysis/
analysis_time_per_steps.png
auxdata/
BUILD-SCOREP
core.*
# Core dumps and scratch files
CPP-ML-Interface/BUILD
CPP-ML-Interface/extern/
custom_logs/cmi-build/
# Debugging, temp files and analysis outputs
forces/
forces.0.dat
grid_les_medium.hdf5
input/*copy*.toml
input/grid_les_medium.hdf5
input/restart_les_init_medium.hdf5
input/transformer_inference_scripted_fw2.pt
logs/
maia_changes.txt
maia_vars_doc.md
m_log
out/
output_*.txt
phydll-*.log
phydll-tom/
prev_execs/
Residual
scorep-*
temp_properties_run_les_ref_medium.toml
analysis/*.csv
analysis/*.png
analysis/*.txt
cmi-build*/
custom_logs/
debug_dumps/
scratch/
temp_*_properties.toml
