input/grid_les_medium.hdf5
input/restart_les_init_medium.hdf5
input/transformer_inference_scripted_fw2.pt

BUILD-SCOREP
CPP-ML-Interface/BUILD
CPP-ML-Interface/extern/
out/
scorep-*


# Debugging, temp files and analysis outputs
Residual
auxdata/
#analysis/
analysis_time_per_steps.png
forces.0.dat
forces/
grid_les_medium.hdf5
logs/
m_log
maia_changes.txt
maia_vars_doc.md
output_*.txt
phydll-*.log
phydll-tom/
prev_execs/
temp_properties_run_les_ref_medium.toml
custom_logs/